*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}


.header{
    display: flex;
    background-color: rgb(75, 13, 125);
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

.header .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 10px;
    color: #fff;   
}



.header .header-logo .logo{
    width: 3rem;
    height: 3rem;  
}


.header .nav .lista-menu {
    display: flex; 
    gap: 2rem;
    
}
.header .nav .lista-menu .lista {
    display: flex;
    background-color: aquamarine;
    padding: 1.5rem;
    gap: 2rem;
    border-radius: 10%;
    transition: all 1s;
}

.header .nav .lista-menu .lista:hover {
    background-color: rgb(67, 147, 120);
}

.header .nav .lista-menu .menu{
    display: inline;
    color: #fff;

}


.header .social-icons{
    display: flex;
    flex-direction: column;
    color: #fff;
}


.main #home {
    width: 100%;
    height: 80vh;
    background-color:rgb(96, 43, 139);     
}

.main #home .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5vw;
    gap: 2rem;

}

.main #home .container .box-1{

}
.box-2 img {
    width: 15rem;
    height: 15rem;
}

